html,
body {
    height: 100%;
}

body {
    background: url('../images/wood2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    /*font-family: Helvetica, Arial, sans-serif;*/
    height: 100%;
    overflow: hidden;
}

.nav-col_position {
    right: 28%;
}

.bw-welcome {
    height: 800px;
    width: 63%;
    background: url('../images/beerwise-logo-font.png') no-repeat;
    background-size: contain;
    position: fixed;
    left: 37%;
    background-color: rgba(255, 255, 255, 1.0);
    top: -85px;
}

.bw-beerOne {
    height: 800px;
    width: 63%;
    background: url('../images/casual_logo.png') no-repeat;
    background-size: contain;
    position: fixed;
    left: 37%;
    background-color: rgba(255, 255, 255, 1.0);
    top: -85px;
}

.bw-beerTwo {
    height: 800px;
    width: 63%;
    background: url('../images/main_celebrator.jpg') no-repeat;
    background-size: contain;
    position: fixed;
    left: 37%;
    background-color: rgba(255, 255, 255, 1.0);
    top: -85px;
}

.bw-beerThree {
    height: 800px;
    width: 63%;
    background: url('../images/main-t7.jpg') no-repeat;
    background-size: contain;
    position: fixed;
    left: 37%;
    background-color: rgba(255, 255, 255, 1.0);
    top: -85px;
}

.bw-welcome-bg {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color:#7A1501;
    bottom: 0;
}

.bw-beerOne-bg {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color:#7A1501;
    bottom: 0;
}

.bw-beerTwo-bg {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color:#1b90c6;
    bottom: 0;
}

.bw-beerThree-bg {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color:#f16e22;
    bottom: 0;
}

.bw-welcome-bg h1,
.bw-beerOne-bg h1,
.bw-beerTwo-bg h1,
.bw-beerThree-bg h1 {
    /*font-family: 'Cutive', serif;
    font-family: 'Arvo', serif;*/
    font-family: 'Sanchez', serif;
    /*font-family: 'Copse', serif;*/
    font-size: 60px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    position: relative;
}

li a img {
    width: 50%;
    height: 50%;
    margin: 25%;
    display: flex;
    justify-content: center;
    transform: rotate(-45deg);
}

.beer--logos {
  transition: transform 2s;
}

#Nav {
    transition: transform 2s;
    height: 700px;
    width: 700px;
    padding: 0;
    transform: rotate(45deg);
}

#Nav>ul {
    margin-top: 0;
margin-bottom: 0px;
padding-left: 0px;
height: 100%;
width: 100%;
}

#Nav>ul>li {
    list-style: none;
height: 350px;
width: 350px;
padding: 0px;
}

.cup {
    margin-top: 8em;
margin-left: 8.5em;
width: 15em;
height: 30em;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
z-index: 100;
/* overflow: hidden; */
}

.cup:before {
    content: '';
    display: block;
    box-shadow: .75em 0em 0 1.5em lightgray;
    position: absolute;
}

.cup:before {
    height: 13em;
width: 3em;
margin: 9em 16em;
border-top-right-radius: 5em;
border-bottom-right-radius: 5em;
z-index: 100;
}

.cup .filled {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: inset 0.3em 0em 7.5em 0em #ecf0f1, 0 1.6em 0 1.5em lightgray;
    z-index: 100;
    /*overflow: hidden;*/
}

.filled {
    border-radius: 10px;
    background: transparent;
}

#liquid {
    background-color: #edaf32;
    border: 10px solid #edaf32;
    border-radius: 1em 1em 1em 1em;
    position: absolute;
    top: 38em;
    height: 0em;
    overflow: hidden;
    width: 15em;
    z-index: -5;
}

#liquid2 {
    background-color: #F89F00;
    border: 10px solid #F89F00;
    border-radius: 1em 1em 1em 1em;
    position: absolute;
    top: 38em;
    height: 0em;
    overflow: hidden;
    width: 15em;
    z-index: -5;
}

#liquid3 {
    background-color: #000;
    border: 10px solid #000;
    border-radius: 1em 1em 1em 1em;
    position: absolute;
    top: 38em;
    height: 0em;
    overflow: hidden;
    width: 15em;
    z-index: -5;
}

#liquid4 {
    background-color: #777;
    border: 10px solid #777;
    border-radius: 1em 1em 1em 1em;
    position: absolute;
    top: 38em;
    height: 0em;
    overflow: hidden;
    width: 15em;
    z-index: -5;
}




 #liquid .bubble,
 #liquid2 .bubble,
 #liquid3 .bubble,
 #liquid4 .bubble{
    position: relative;
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0em;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

@-webkit-keyframes bubble {
    0% {
        bottom: 0em;
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
        bottom: 4em;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
        bottom: 8em;
    }
}

.bubble1 {
    left: 1em;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1500ms;
}

.bubble2 {
    left: 2.5em;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1700ms;
}

.bubble3 {
    left: 5em;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1900ms;
}

.bubble4 {
    left: 7.5em;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 1000ms;
}

.bubble5 {
    left: 9em;
    -webkit-animation-delay: 1300ms;
    -webkit-animation-duration: 2000ms;
}


/* Foam */

.beer-foam {
    position: absolute;
    opacity: 0;
    bottom: 36em;
    z-index: 1;
}

.foam-1, .foam-2, .foam-3, .foam-4, .foam-5, .foam-6, .foam-7 {
    float: left;
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 50px;
    border-top: 10px solid rgba(236, 240, 241, .4);
    border-radius: 30px;
    background-color: #ffd747;
     /*#fefefe;*/
}
.foam-1 {
    top: -30px;
    left: -15px;
}

.foam-2 {
    top: -35px;
    left: 20px;
}

.foam-3 {
    top: -25px;
    left: 50px;
}

.foam-4 {
    top: -35px;
    left: 80px;
}

.foam-5 {
    top: -30px;
    left: 110px;
}

.foam-6 {
    top: -22px;
    left: 140px;
}

.foam-7 {
    top: -30px;
    left: 160px;
}

.product--description {
  position: absolute !important;
  top: 10%;
  left: 40%;
  background-color: rgba(0, 0, 255, .25);
  border: 2px solid rgba(255, 255, 255, .75);
  border-radius: 5px;
}

.flex--container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.beer--header {
  text-align: center;
}
