<div class="cup">
    <div class='filled'>
        <div class="beer-foam">
            <div class="foam-1"></div>
            <div class="foam-2"></div>
            <div class="foam-3"></div>
            <div class="foam-4"></div>
            <div class="foam-5"></div>
            <div class="foam-6"></div>
            <div class="foam-7"></div>
        </div>

        <div id="liquid">
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
        </div>
    </div>
</div>

<div class="bw-welcome">
    <div class="bw-welcome-bg">
        <!-- <h1>Beer Wise</h1> -->
        <!-- <h3>Brought to you by your very own Geek Wise Cohort!</h3> -->
    </div>
</div>
