<div class="cup">
    <div class='filled'>
        <div class="beer-foam beer-foam_three">
            <div class="foam-1"></div>
            <div class="foam-2"></div>
            <div class="foam-3"></div>
            <div class="foam-4"></div>
            <div class="foam-5"></div>
            <div class="foam-6"></div>
            <div class="foam-7"></div>
        </div>

        <div id="liquid3">
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
        </div>
    </div>
</div>
<div class="bw-beerThree">
    <div class="bw-beerThree-bg">
        <h1>
            <b>Track 7</b>
            Left Eye Right Eye</h1>
        <div class="col-xs-3 info-font-size">
            <ul>
                <li>
                    <b>Style:
                    </b>American Imperial IPA</li>
                <li>
                    <b>ABV:
                    </b>9.5%</li>
                <li>
                    <b>IBUs:
                    </b>100</li>
                <li>
                    <b>Original Gravity:
                    </b>1.083</li>
                <li>
                    <b>Hops:
                    </b>Amarillo, Cascade, Centennial, Simcoe</li>
            </ul>
        </div>
        <div class="col-xs-4 info-font-size">
            <p>
                Features a blend of 5 hop varieties that delivers an intense hop experience with a smooth finish. Big tangerine and grapefruit aromas power Left Eye, Right Eye while the malt flavors are purposefully subdued. Fresh and lively hop character.
            </p>
        </div>
    </div>
</div>
