<div class="cup">
    <div class='filled'>
        <div class="beer-foam beer-foam_one">
            <div class="foam-1"></div>
            <div class="foam-2"></div>
            <div class="foam-3"></div>
            <div class="foam-4"></div>
            <div class="foam-5"></div>
            <div class="foam-6"></div>
            <div class="foam-7"></div>
        </div>

        <div id="liquid">
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
        </div>
    </div>
</div>
<div class="bw-beerOne">
    <div class="bw-beerOne-bg">
        <h1>
            <b>Belching Beaver</b>
            Here Comes Mango</h1>
        <div class="col-xs-3 info-font-size">
            <ul>
                <li>
                    <b>Style:
                    </b>American IPA</li>
                <li>
                    <b>ABV:
                    </b>6.6%</li>
                <li>
                    <b>IBUs:
                    </b>55</li>
                <li>
                    <b>Original Gravity:
                    </b>probably 1 point something</li>
                <li>
                    <b>Hops:
                    </b>Idk... whatever goes with mango?</li>
            </ul>
        </div>
        <div class="col-xs-4 info-font-size">
            <p>
                A delicious, moderately strong American IPA with juicy mango and clean, supporting malt to showcase the hop character.
            </p>
        </div>
    </div>
</div>
